---
import 'src/scss/index.scss';
---
<html lang="en">
	<head>
		<title>astro-dupe-css</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="website">
	</head>
	<body>
		<h1>astro-dupe-css</h1>

		<slot />
	</body>
</html>
